@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-weight: 700;
}

html {
    background: #131722;
}

body {
    margin: 0;
    font-family: 'Baloo Bhai 2', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #162644;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c4c7ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #162644; */
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
